footer
	overflow hidden
	padding-top 55px
	width 100%
	height 340px
	background-color #005359
	.listBox
		width 100%
		overflow hidden
		padding-bottom 50px
		border-bottom 1px solid #fff
		position relative
		.lists
			float left
			color #fff
			&:not(:nth-child(3))
				margin-right 180px
			.tip
				font-size 16px
				font-weight bold
			.li
				display block
				margin-top 10px
				font-size 14px
				&:hover
					text-decoration underline
		.fLogo
			position absolute
			bottom 50px
			right 0
			width 112px
			height 110px
			background-image url(../img/footer-logo.png)
	.botText
		color #fff
		font-size 12px
		margin-top 2px
		font-family Arial
			